body {
  color: var(--neutral-10);
}

.App {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background: #f6f4ec;
  height: 100vh;
}

.App-Body {
  padding: 0px 100px 100px 100px;
  flex-grow: 1;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

a.bugId {
  color: var(--neutral-10);
}

a.bugSummary {
  color: var(--neutral-10);
  text-decoration: none;
}

.App-Footer {
}
.App-Footer .content {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.App-Footer .content a {
  color: var(--neutral-5);
}

body {
  --primary-10: hsl(263, 85%, 18%);
  --primary-9: hsl(262, 72%, 25%);
  --primary-8: hsl(262, 69%, 31%);
  --primary-7: hsl(262, 60%, 38%);
  --primary-6: hsl(262, 48%, 46%);
  --primary-5: hsl(262, 43%, 51%);
  --primary-4: hsl(262, 47%, 58%);
  --primary-3: hsl(262, 54%, 68%);
  --primary-2: hsl(262, 68%, 84%);
  --primary-1: hsl(262, 61%, 93%);

  --neutral-10: hsl(42, 15%, 13%);
  --neutral-9: hsl(40, 13%, 23%);
  --neutral-8: hsl(37, 11%, 28%);
  --neutral-7: hsl(41, 9%, 35%);
  --neutral-6: hsl(41, 8%, 48%);
  --neutral-5: hsl(41, 8%, 61%);
  --neutral-4: hsl(39, 11%, 69%);
  --neutral-3: hsl(40, 15%, 80%);
  --neutral-2: hsl(43, 13%, 90%);
  --neutral-1: hsl(40, 23%, 97%);

  --cyan-10: hsl(184, 91%, 17%);
  --cyan-9: hsl(185, 84%, 25%);
  --cyan-8: hsl(185, 81%, 29%);
  --cyan-7: hsl(184, 77%, 34%);
  --cyan-6: hsl(185, 62%, 45%);
  --cyan-5: hsl(185, 57%, 50%);
  --cyan-4: hsl(184, 65%, 59%);
  --cyan-3: hsl(184, 80%, 74%);
  --cyan-2: hsl(185, 94%, 97%);
  --cyan-1: hsl(186, 100%, 94%);

  --red-10: hsl(348, 94%, 20%);
  --red-9: hsl(350, 94%, 28%);
  --red-8: hsl(352, 90%, 35%);
  --red-7: hsl(354, 85%, 44%);
  --red-6: hsl(356, 75%, 53%);
  --red-5: hsl(360, 83%, 62%);
  --red-4: hsl(360, 91%, 69%);
  --red-3: hsl(360, 100%, 80%);
  --red-2: hsl(360, 100%, 87%);
  --red-1: hsl(360, 100%, 95%);

  --yellow-10: hsl(43, 86%, 17%);
  --yellow-9: hsl(43, 77%, 27%);
  --yellow-8: hsl(43, 72%, 37%);
  --yellow-7: hsl(42, 63%, 48%);
  --yellow-6: hsl(42, 78%, 60%);
  --yellow-5: hsl(43, 89%, 70%);
  --yellow-4: hsl(43, 90%, 76%);
  --yellow-3: hsl(45, 86%, 81%);
  --yellow-2: hsl(45, 90%, 88%);
  --yellow-1: hsl(45, 100%, 96%);

  --green-10: hsl(125, 97%, 14%);
  --green-9: hsl(125, 86%, 20%);
  --green-8: hsl(125, 79%, 26%);
  --green-7: hsl(122, 80%, 29%);
  --green-6: hsl(122, 73%, 35%);
  --green-5: hsl(123, 57%, 45%);
  --green-4: hsl(123, 53%, 55%);
  --green-3: hsl(124, 63%, 74%);
  --green-2: hsl(127, 65%, 85%);
  --green-1: hsl(125, 65%, 93%);
}
.backlog {
  width: 100%;
  background: var(--primary-3);
  height: 1px;
}
