.App-Header {
  border-top: 4px solid var(--primary-5);

  filter: drop-shadow(1px 0px 4px var(--neutral-2));
  z-index: 100;
}

.App-Header a {
  margin-left: 10px;
  color: inherit;
}

.App-Header a:hover {
  cursor: pointer;
}

.App-Header .nav {
  padding: 10px;
  height: 130px;
  background: white;
}

.App-Header .selected {
  font-weight: bold;
}

.App-Header h1 {
  font-weight: normal;
  text-align: center;
  font-size: 1.5em;
  color: var(--primary-7);
}

.App-Header .links {
  display: grid;
  grid-template-columns: 1fr repeat(2, auto) 1fr;
  grid-column-gap: 5px;
  justify-items: right;
  color: var(--neutral-3);
}

.App-Header .links a:nth-child(1) {
  grid-column-start: 2;
}

.App-Header .links a {
  color: var(--neutral-6);
  margin-top: 6px;
}

.App-Header .search-box {
  width: 810px;
  border: 1px solid var(--neutral-2);
  background: white;
  border-radius: 4px;
  padding: 10px;
  margin: 0 auto;
}

.search-box input {
  width: calc(100% - 10px);
}

.search-box .search-field {
  margin-top: 10px;
}

.search-field input {
  line-height: 30px;
  font-size: 14px;
  padding-left: 10px;
  background: var(--neutral-1);
  outline: none;
  border: 1px solid var(--neutral-3);
  border-radius: 5px;
}

.App-Header .gap {
  height: 60px;
}

.filters {
  color: var(--neutral-6);
}

[data-reach-menu] {
  z-index: 1000;
}

[data-reach-menu-list] {
  border-radius: 4px;
  padding: 0 0px;
  color: var(--neutral-6);
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

[data-reach-menu-item] {
  padding: 5px 10px;
  display: flex;
  display: flex;
  flex-direction: row;
}

.menu-item-label {
  flex-grow: 1;
}

.menu-item-count {
  margin-left: 15px;
  color: var(--neutral-4);
  font-weight: bold;
  padding-right: 2px;
}

[data-reach-menu-item][data-selected] .menu-item-count {
  color: white;
}

[data-reach-menu-item][data-selected] {
  background: var(--cyan-5);
}

[data-reach-menu-list] [data-reach-menu-item]:first-child {
  border-radius: 4px 4px 0 0;
}

[data-reach-menu-list] [data-reach-menu-item]:last-child {
  border-radius: 0 0 4px 4px;
}

.filters {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters button {
  margin-left: 10px;
  background: white;
  border: 1px solid var(--neutral-3);
  border-radius: 6px;
  line-height: 24px;
  display: flex;
  text-align: left;
  padding: 0;
  font-size: 14px;
}

.filters button.selected {
  background: var(--cyan-5);
  border-color: var(--cyan-7);
  color: var(--cyan-2);
}

.filters button .label {
  flex-grow: 1;
  padding-left: 10px;
}

.filters button .button {
  padding-right: 10px;
  padding-left: 10px;
}

.filters button.selected .button {
  color: var(--cyan-2);
}

.select-component {
  width: 250px;
}
