table.pure-table {
  border-collapse: unset;
  border-radius: 4px;
  width: 100%;
  overflow-x: scroll;
}

table > tr {
  line-height: 30px;
  font-weight: normal;
  width: 100%;
}

th {
  font-weight: normal;
}

.pure-table tr:hover td {
  background: var(--neutral-1);
  cursor: pointer;
}

.pure-table td {
  border-color: #e1e1e1;
}

td.priority.P1 {
  color: var(--red-5);
}

td.priority.P2 {
  color: var(--cyan-6);
}
td.priority.P3 {
  color: var(--neutral-6);
}

td.priority {
  color: var(--neutral-5);
}

td.priority:hover {
  cursor: pointer;
}

.bugs-table {
  background: white;
  border-radius: 4px;
  overflow-x: auto;
  max-width: 950px;
  margin: 0 auto;
}

.bugs-table span.meta {
  margin-left: 10px;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  color: var(--primary-8);
  font-weight: bold;
  white-space: nowrap;
}

.meta-list {
  padding-top: 2px;
  line-height: 24px;
}

.meta-list .meta:first-child {
  margin-left: 0;
}

.bugs-table span.meta:hover {
  cursor: pointer;
  color: var(--primary-10);
  border-color: var(--primary-2);
}

.empty-results {
  font-weight: normal;
  text-align: center;
  color: var(--neutral-5);
  margin-top: 100px;
}

.bug-summary {
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 810px;
}

.bugs-table .bug-alias {
  font-weight: bold;
}
