table.pure-table {
  border-collapse: unset;
  border-radius: 4px;
  width: 100%;
  overflow-x: scroll;
}

table > tr {
  line-height: 30px;
  font-weight: normal;
  width: 100%;
}

th {
  font-weight: normal;
}

.pure-table tr:hover td {
  background: var(--neutral-1);
}

.pure-table td {
  border-color: #e1e1e1;
}

.priority.P1 {
  color: var(--red-5);
}

.priority.P2 {
  color: var(--cyan-6);
}
.priority.P3 {
  color: var(--neutral-6);
}

.priority {
  color: var(--neutral-5);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
}

.priority:hover {
  cursor: pointer;
}

.bugs-table {
  background: white;
  border-radius: 4px;
  overflow-x: auto;
  max-width: 950px;
  margin: 0 auto;
}

.pure-table td.type-enhancement {
  border-left: 2px solid #2ABA27;
}

.pure-table td.type-defect {
  border-left: 2px solid #EA3C3D;
}

.pure-table td.type-task {
  border-left: 2px solid #2886C9;
}

.bugs-table span.meta {
  margin-left: 10px;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  color: var(--primary-8);
  font-weight: bold;
  white-space: nowrap;
}

.meta-list {
  padding-top: 2px;
  line-height: 24px;
}

.meta-list .meta:first-child {
  margin-left: 0;
}

.bugs-table span.meta:hover {
  cursor: pointer;
  color: var(--primary-10);
  border-color: var(--primary-2);
}

.empty-results {
  font-weight: normal;
  text-align: center;
  color: var(--neutral-5);
  margin-top: 100px;
}

.bug-summary {
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 770px;
}

.bugs-table .bug-alias {
  font-weight: bold;
}

.test-error {
  font-size: 14px;
  line-height: 22px;
  color: var(--neutral-7);
}

.test-file {
  font-size: 16px;
  line-height: 24px;
}

.fail-count {
  color: var(--neutral-6);
}

.fail-count.important {
  color: var(--cyan-6);
}

td.assignee {
  color: var(--neutral-6);
  font-size: 14px;
}

.changed {
  font-size: 12px;
  color: var(--neutral-4);
}
